@font-face 
{
    font-family: 'Raleway';
    src: url('Raleway\static\RalewayE.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body
{
    font-family: 'Raleway';
    font-size: normal;
    font-style: normal;
}

li
{
    font-family: 'Raleway';
    font-size: 1.2em;
    list-style-type: none;
    padding-left: 40px;
    float: right;
    padding-left: 0;
    margin: 20px
}

.ic1
{
	width: 25px;
	height: 25px;
   	padding: 11px;
   	border-radius: 25px;
   	border-style: none;
   	background-color: #DEEBFF;
   	position: relative;
   	margin-right: -10px;
    color: #0065FC;
}


.ic2
{
    height: 48px;
    border-radius: 0px 20px 20px 0px;
    width: 170px;
    margin-left: -15px;
    font-weight: normal;
    padding-left: 15px;
    margin-right: 10px;
}

.carte
{
   
   background-color: #F2F2F2;
   padding: 15px;
   margin-top: 20px;
   border-radius: 20% 0% 0% 20%;
   border-right: none;	
   width: 20px;
   height: auto;
}

.zf
{
    background-color: transparent;
    border: none;
    font-weight: bolder;
    color: black;
}

.filtre
{
    display: flex;
    margin: 20px;

}

 .menu
 {
     display: flex;
     margin-top: 10px;
     margin-bottom: 10px;
 }

 .recherche
{
    display: flex;
}

.cherche
{
    width: 200px;
    margin-top: 20px;
    font-weight: bold;
    text-align: left;
    border: solid 1px #f2f2f2;
}

.lancer
{
    margin-top: 20px;
    width: 120px;
    border-left: none;
    border-color: #0065FC;
    background-color: #0065FC;
    font-size: 1.2em;
    color: white;
    border-radius: 0 20px 20px 0;
}