

body
{
    font-family: 'Raleway', sans-serif;
    font-size: normal;
    font-style: normal;
}

/* Logo et Recherche */

li
{
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
    list-style-type: none;
    padding-left: 40px;
    float: right;
    padding-left: 0;
    margin: 20px
}

.ic1
{
	width: 25px;
	height: 25px;
   	padding: 11px;
   	border-radius: 25px;
   	border-style: none;
   	background-color: #DEEBFF;
   	position: relative;
   	margin-right: -10px;
    color: #0065FC;
}


.ic2
{
    height: 48px;
    border-radius: 0px 20px 20px 0px;
    width: 170px;
    margin-left: -15px;
    font-weight: normal;
    padding-left: 15px;
    margin-right: 10px;
}

        /* Bannieres - Filtres */

.carte
{
   
   background-color: #F2F2F2;
   padding: 15px;
   margin-top: 20px;
   border-radius: 20% 0% 0% 20%;
   border-right: none;	
   width: 20px;
   height: auto;
}

.zf
{
    background-color: transparent;
    border: none;
    font-weight: bolder;
    color: black;
}

.filtre
{
    display: flex;
    margin: 20px;

}

 .menu
 {
     display: flex;
     margin-top: 10px;
     margin-bottom: 10px;
 }

 .recherche
{
    display: flex;
}

.cherche
{
    width: 200px;
    margin-top: 20px;
    font-weight: bold;
    text-align: left;
    border: solid 1px #f2f2f2;
}

.lancer
{
    margin-top: 20px;
    width: 120px;
    border-left: none;
    border-color: #0065FC;
    background-color: #0065FC;
    font-size: 1.2em;
    color: white;
    border-radius: 0 20px 20px 0;
}

.info
{
    font-size: 12px;
    margin: 10px;
}



/* zone des filtres */

.ec_menu
{
    background-color: transparent;
    border: none;
    font-weight: bolder;
    color: black;
}

.main
{
    display: flex;
    align-items: center;
	margin-bottom: -50px;
	margin-top: -20px;
}

.filtre
{
    display: flex;
    margin: 20px;

}

 .menu
 {
     display: flex;
     margin-top: 10px;
     margin-bottom: 10px;
 }

 .rondelle
{
	width: 25px;
	height: 25px;
   	padding: 11px;
   	border-radius: 25px;
   	border-style: none;
   	background-color: #a1c1f0;
   	position: relative;
   	margin-right: -10px;
}

.cartouche
{
    height: 48px;
    border-radius: 0px 20px 20px 0px;
    width: 170px;
    margin-left: -15px;
    font-weight: bold;
    padding-left: 15px;
    margin-right: 10px;
}

.cartouche:hover
{
    background-color: pink;
}

.ville
{
    margin: 0px;
    font-size: 1.1em; 
}

/* Partie Hébergements */

.row
{
	display: flex;
	flex-direction: row;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;

}

.colonne1
{
	width:60%;
	background-color: #f2f2f2;
	border-radius: 20px;
	margin-right: 15px;
	margin-left: 15px;
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.reserv 
{
    vertical-align: middle;
	padding: 3px;
	text-align: left;
	background-color: #ffffff;
    width: 28%;
	border-radius: 20px;
    margin: 20px;
    box-shadow: 1px 1px 12px #555;
}

.photo
{
    width: 100%;
    min-height: 200px;
    max-height: 200px;
	border-radius: 20px 20px 0 0;
    transition: transform 1s; 
}

.photo:hover
{
    transform: scale(1.1);
}

.etoile
{
	width: 19px;
    color: #0065FC;
}

.colonne2
{
	width:30%;
	background-color: #f2f2f2;
	border-radius: 20px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.reserv2 
{
    display: flex;
	padding: 3px;
	background-color: #ffffff;
    width: 80%;
	border-radius: 20px;
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 1px 1px 12px #555;
}

.photo2
{
    width: 200px;
    min-width: 100px;
    max-width: 100px;
    height: 100px;
	border-radius: 20px 0 0 20px;
	transition: transform 1s; 
}

.photo2:hover
{
    transform: scale(1.1);
}

.titre
{
    background-color: #f2f2f2;
    border-radius: 20px 0 0 20px;
    width: 80%;
    margin-left: 30px;
}

.titre2
{
    background-color: #f2f2f2;
    border-radius: 20px 0 0 20px;
    width: 80%;
    margin-left: 30px;
}

.icon
{
   float: right;
   width: 20px;
}

.description
{
    margin-left: 10px;
    padding-top: 10px;
    font-size: 1.2em;
}

.description2
{
    padding-top: 20px;
    font-size: 1.2em;
}

.titre3
{
    background-color: #ffffff;
    border-radius: 20px 0 0 20px;
    width: 80%;
    margin-left: 30px;
}

.row3
{
	display: flex;
    flex-direction: row;
    align-content: center;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;

}

.colonne3
{
	width:25%;
	border-radius: 20px;
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    vertical-align: middle;
}

.reserv3 
{
    vertical-align: middle;
	padding: 0px;
    width: 90%;
	border-radius: 20px;
    margin: 25px;
    box-shadow: 1px 1px 12px #555;
}

.photo3
{
    width: 100%;
    height: 500px;
	border-radius: 20px 20px 0 0;
	transition: transform 1s;
}

.photo3:hover
{
    transform: scale(1.1);
}

.colonne4
{
    vertical-align: middle;
	width:25%;
	border-radius: 20px;
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.description2
{
    margin-top:10px;
    margin-left:20px;
    margin-bottom:10px;
    font-size: 1.0em;
}

.reserv4 
{
    width: 90%;
	border-radius: 20px;
    margin-left: 35px;
    box-shadow: 1px 1px 12px #555;
}

.photo4
{
	width: 100%;
    height: 222px;
	border-radius: 20px 20px 0 0;
	transition: transform 1s; 
}

.photo4:hover
{
    transform: scale(1.1);
}