body
{
    font-family: 'Raleway', sans-serif;
    max-width: 1440px;
    margin: auto;
    padding: 0 2rem;
    box-sizing: border-box;
    font-size: 13px;
    font-style: normal;
}

header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 92%;
}

li
{
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
    list-style-type: none;
    padding-left: 40px;
    float: right;
    padding-left: 0;
    margin: 20px
}

ul
{
    margin-top: 2px;
}

h2
{
    font-family: 'Raleway', "sans-serif";
    font-size: 20px;
}

h3
{
    font-family: 'Raleway', "sans-serif";
    font-size: 18px;
}

p
{
    font-family: 'Raleway', "sans-serif";
    font-size: 11px;
    font-style: normal;
}

a
{
    list-style-type: none;
    text-decoration: none;
    color:#000000;
}

.logo
{
    width: 30%;
    margin-left: -1px;
    margin-top:15px;
}

.carte
{
   
   background-color: #F2F2F2;
   padding: 15px;
   margin-top: 20px;
   border-radius: 20% 0% 0% 20%;
   border-right: none;	
   width: 20px;
   height: auto;
}

.zf
{
    background-color: transparent;
    border: none;
    font-weight: bolder;
    color: black;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}

.filtre
{
    display: flex;
    margin: 20px;
    margin-left: -2px;
}

 .menu
 {
    display: flex;
    height: 43px;
    border: 2px solid  #F2F2F2;
    border-left: transparent;
    border-radius: 25px;
    margin: 10px 10px 5px 20px;
    color: blue;
}

.menu:hover 
{
    background-color: #DEEBFF;
}

.menu h3
{
    font-weight: 600;
    margin: 0 15px 0 10px;
    display: flex;
    align-items: center;
    color: black;
}


 .recherche
{
    display: flex;
}

.cherche
{
    width: 200px;
    margin-top: 20px;
    font-weight: bold;
    text-align: left;
    border: solid 1px #f2f2f2;
}

.lancer
{
    margin-top: 20px;
    width: 120px;
    border-left: none;
    border-color: #0065FC;
    background-color: #0065FC;
    font-size: 1.2em;
    color: white;
    border-radius: 0 20px 20px 0;
}

.info
{
    display: flex;
    align-items: center;
    margin: 1rem 0 2rem 0;
}

.infoicone
{
    height: 2rem;
    width: 2rem;
    min-height: 2rem;
    min-width: 2rem;
    border: solid 1px #d9d9d9;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
}

.infoicones
{
    color: #0065FC;
}

.main
{
    display: flex;
    align-items: center;
	margin-bottom: -50px;
	margin-top: -20px;
}

 .menu
{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}


.ville
{
    margin: 0px;
    font-size: 1.1em; 
}

.row
{
	display: flex;
	flex-direction: row;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
    margin-left: -18px;
}

.colonne1
{
	width:60%;
	background-color: #f2f2f2;
	border-radius: 20px;
	margin-right: 15px;
	margin-left: 15px;
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.res1
{
    vertical-align: middle;
	padding: 3px;
	text-align: left;
	background-color: #ffffff;
    width: 25%;
	border-radius: 20px;
    margin: 20px;
    box-shadow: 1px 1px 12px #555;
}

.photo
{
    height: 7rem;
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    border-radius: 1rem 1rem 0 0;
}

.photo:hover
{
    transform: scale(1.1);
}

.colonne2
{
	width:30%;
	background-color: #f2f2f2;
	border-radius: 20px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.res2
{
    display: flex;
	padding: 3px;
	background-color: #ffffff;
    width: 80%;
    height: 18%;
	border-radius: 20px;
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 1px 1px 12px #555;
}

.photo2
{
    width: 200px;
    min-width: 100px;
    max-width: 100px;
    height: 100px;
	border-radius: 20px 0 0 20px;
    object-fit: cover;
}

.photo2:hover
{
    transform: scale(1.1);
}

.titre1
{
    background-color: #f2f2f2;
    border-radius: 20px 0 0 20px;
    width: 80%;
    margin-left: 30px;
}

.titre2
{
    background-color: #f2f2f2;
    border-radius: 20px 0 0 20px;
    width: 80%;
    margin-left: 30px;
}

.icone
{
   float: right;
   width: 20px;
}

.description1
{
    margin-left: 10px;
    padding-top: 10px;
    font-size: 1.2em;
}

.description2
{
    padding-top: 20px;
    margin-top: -13px;
    margin-left:25px;
    margin-bottom:10px;
    font-size: 16px;
}

.titre3
{
    margin-left: 2px;
    margin-top: 45px;
}

.row2
{
	display: flex;
    flex-direction: row;
    align-content: center;
	width: 96%;
	margin-top: -25px;
	margin-bottom: 20px;
    margin-left: -31px;
}

.colonne3
{
	width: 25%;
	border-radius: 20px;
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    vertical-align: middle;
}

.res3
{
    vertical-align: middle;
	padding: 0px;
    width: 90%;
	border-radius: 20px;
    margin: 25px;
    box-shadow: 1px 1px 12px #555;
}

.photo3
{
    width: 100%;
    height: 500px;
	border-radius: 20px 20px 0 0;
	transition: transform 1s;
    object-fit: cover;
}

.photo3:hover
{
    transform: scale(1.1);
}

.colonne4
{
    vertical-align: middle;
	width:25%;
	border-radius: 20px;
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.res4
{
    width: 90%;
    height: 42%;
	border-radius: 20px;
    margin-left: 16px;
    box-shadow: 1px 1px 12px #555;
}

.photo4
{
	width: 100%;
    height: 212px;
	border-radius: 20px 20px 0 0;
	transition: transform 1s; 
    object-fit: cover;
}

.photo4:hover
{
    transform: scale(1.1);
}

.star1
{
    color: #0065FC;
}

.rond
{
    background-color: #DEEBFF;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.iii 
{
    color: #0065fc;
}

.hhh
{
    color: #0065fc;
}

.gris
{
    color: #d9d9d9
}

.piedpage
{
    background-color: #F2F2F2;
    width: 93%;
    margin-left: -7px;
    height: 210px;
}

.piedwrap
{
    display: flex;
    max-width: 100%;
    width: 1440px;
    margin: auto;
    padding: 0 2rem;
    box-sizing: border-box;
}

.piedcolonne
{
    width: 30%;
    padding: 2rem 2rem;
}
  
.piedliens
{
    display: block;
    margin: 1rem 0;
}

.piedliens:hover 
{
    text-decoration: underline;
}
  
.bleu
{
    color: blue;
}

.nav
{
    height: 50%;
}

.infotexte
{
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
}

.hhh:hover 
{
    color: #0065FC;
}

.hhh:hover 
{
    border-top: 3px solid #0065FC;
}

.jjj:hover
{
    color: #0065FC;
}

.jjj:hover
{
    border-top: 3px solid #0065FC;
}

#inscription
{
    position: absolute;
    margin-left: 63%;
    font-size: 15px;
    margin-top: 13px;
}

.desktop
{
    height: 50%;
    margin-right: 6%;
}

